.flex-container {
    display: flex;
    background-color: grey;
    justify-content: center;
  }
  .flex-item {
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    border-radius: 30px;
  }